.main-body{
    box-sizing: border-box;
}
.page-header{
    float: left;
    width: 100%;
    background-color: palevioletred;
}
.page-nav{
    float: left;
    width: 23%;
    background-color: lightskyblue;
    padding: 3px;
}
.page-main{
    float: left;
    width: 74%;
    background-color: bisque;
    padding: 3px;
}

.page-nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    border: 2px solid dimgray;
    text-align: center;
}

.page-nav li a{
    text-align: center;
    border-bottom: 1px solid dimgray;
    display: block;
    padding: 6px 12px;
    color: blue;
}
.page-nav li a:hover{
    color: aqua;
    background-color: darkorchid;
}

.page-footer{
    float: left;
    width: 100%;
    background-color: lightseagreen;
    text-align: center;
}